{%extends 'base.html'%} {%block heading%}
<h1>All movies</h1>
{%endblock%}
<!-- ----------- We should move this to a parent template ----------------->
<!-- 

		{%for msg in get_flashed_messages()%}
		<p>{{ msg }}</p>
		{%endfor%} 
		
		<!-- ------------------------------------------------------------------- -->
{%block content%}
<ul>
	{%for movie in movies%}
	<li>{{movie}}</li>
	{%endfor%}
</ul>
<form action="/movies/new" method="POST">
	<input type="text" placeholder="movie title" name="title" />
	<button>Submit</button>
</form>
{%endblock%}
