* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: beige;
	width: 100vw;
	height: 100vh;
}
main {
	width: 75%;
	margin: 25%;
	flex: 1 1 100%;
	border: 2px solid black;
	padding: 3rem;
	border-radius: 5%;
	flex-direction: column;
	min-width: 300px;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.success {
	background-color: rgba(44, 136, 44, 0.685);
}
.err {
	background-color: rgba(253, 57, 57, 0.74);
}
